name: publish

on:
  push:
    tags:
      - "v*"

  release:
    types: [published]

jobs:
  test:
    uses: ./.github/workflows/test.yml

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install pip --upgrade pip
          pip install build
      - name: Build
        run: |
          python -m build --sdist --wheel --outdir dist/ .
      - name: Publish to TestPyPI
        if: github.event_name != 'release'
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Publish to PyPI
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
